.tituloOffer{
   font-size: 80px !important;
   font-family: 'Acme', sans-serif;
   font-family: 'Alkatra', cursive;
   font-family: 'Bebas Neue', cursive;
   color: antiquewhite;
   filter:drop-shadow(3px 3px 9px #000000)
}

.img_car{
   filter:drop-shadow(3px 3px 9px #888)
}

.oferta{
   filter:drop-shadow(3px 3px 9px #000000)
}