body{
  background-color: brown;
}

.row{
  display: flex;
  justify-content: space-evenly;
 }

.pocket{
  background-color: rgb(36, 33, 26);
 width: 40%;
}

.cards{
  background-color: rgb(145, 110, 24);
  text-align: center
}

.app{
  text-align: center;
}