body{
  background-color: rgb(40, 38, 44);
  color: #fff;
}

.row{
  display: flex;
  justify-content: space-evenly;
 }

.pocket{
  background-color: rgb(36, 33, 26);
 width: 40%;
}

.cards{
  background-color: rgb(145, 110, 24);
  text-align: center
}

.app{
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
 
}

.logo:hover {
  filter: drop-shadow(0 0 2em #2d94b1aa);
}

.NameShop {
  color: #fff;
  font-weight: bold;

}
.name-logo{
  text-align: center;
}

.navbar {
  background-color: transparent !important; /* !important para anular estilos predeterminados de react-bootstrap */
  box-shadow: none !important;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #4a4a4a;
  background-color: #fff;
  border-radius: 4px;
}
